{% load static %}

<!DOCTYPE html>
<html>
{% include "header_links_meta.html" with title="About"%}

<body style="">
{% include "top_navbar.html" %}

<div>
<article class="container mx-auto px-2 mt2 mb4">
	<header>
		<h1 class="h0 py-4 mt-3">About</h1>
	</header>
	<div class="col-4 sm-width-full border-top-thin">
	</div>
	<div class="prose mb-4 py-4">
		<h2 id="who-we-are">Who We Are</h2>
		<p>The Ivy Space Coalition (ISC) is an organization that represents a large constituency of space-related organizations spanning across the entire Ivy League.  Previously, although each of the respective Ivy League institutions possess one or more student project teams or clubs focusing on space technology and exploration, the project teams and clubs all remained relatively disconnected from one another, even within a given school’s campus.  Bridging this intra-Ivy and inter-Ivy disconnect is the primary goal of the Ivy Space Coalition.</p>

		<p>Our aim is to connect students and organizations across the Ivy League that have an interest in aerospace engineering, space exploration, and improved space technology, thereby fostering a greater sense of space community through shared connections, conversations, and experiences. In partnering together as a League, not only do students have the unique opportunity to individually benefit from one another’s knowledge in expanding their respective clubs and project teams, but they also have the chance to revolutionize the fast-growing space community collectively.</p>

		<p>The ISC has already coordinated multiple inter-Ivy speaker sessions via livestream technology as well as the 1st Annual Ivy Space Coalition Conference.  The conference, which was held at Yale University on April 6th-7th 2018, offered each of our member groups a platform through which to meet and connect with other students and leaders in the space industry, thereby serving as a premier hub for students interested in aerospace, space technology, and other space-related fields to meet one another and discuss potential collaborative project ideas. In the end, the conference drew more than 100 student attendees and 12 industry speakers.</p>

		<h2 id="the-conference">The 2019 Conference</h2>

		<p>The ISC’s second conference will once again be an excellent and fun opportunity for students from across the Ivy League schools to meet and build meaningful relationships with peers from the other institutions, learn more about advances in aerospace technology from industry experts, present their projects and research to a broader audience, and network with potential employers.</p>

		<h3 id="conference-topics">Conference Topics</h3>

		

	</div>
</article>
</div>

{% include 'bottom_navbar.html' %}

<script type="text/javascript">( function(){ window.SIG_EXT = {}; } )()</script>
</body>
</html>
