{% load static %}
<!DOCTYPE html>
<html>
	{% include 'header_links_meta.html' with title="Register" %}

  <body style="">

		{% include 'top_navbar.html' %}

    <div>
<div class="register-banner">
  <span class="register-banner-text">CONFERENCE REGISTRATION IS GO</span>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSceREcaf4fgmSorfpBAxNuFY-k5iKglJeYVhX5To3ZPHN_eEQ/viewform"><div class="register-button">
        REGISTER
  </div></a>
</div>
    </div>

	{% include 'bottom_navbar.html' %}

  


<script type="text/javascript">( function(){ window.SIG_EXT = {}; } )()</script></body></html>
