{% load static %}
<head>
<title>{{title|default:"Title"}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Ivy Space Coalition is...?  ">
<link rel="stylesheet" href={% static "homepage/style.css" %}>
<link rel="stylesheet" href={% static "homepage/animate.min.css" %}>
<link rel="stylesheet" href={% static "homepage/css" %}>
<link href="./About_files/css" rel="stylesheet">
<link rel="canonical" href="http://www.interivyspacecoalition.com//about/">
<link rel="alternate" type="application/rss+xml" title="Ivy Space Coalition" href="http://www.interivyspacecoalition.com//feed.xml">
<script async="" defer="" src={% static "homepage/buttons.js" %}></script>
</head>
