{% load static %}
<!DOCTYPE html>
<html>
{% include "header_links_meta.html" with title="Posts"%}

<body>
{% include "top_navbar.html" %}
{% if latest_post_list %}
<div class='post_div'>
	<ul>
	{% for post in latest_post_list %}
			<li>
				<h2 class='align-left'>{{post.title}} </h2><h2 class='align-right'>  {{ post.pub_date|date:'F d, Y' }}</h2>
				<div style="clear:both"></div>
				<p>{{ post.body }}</p>
				{% if not forloop.last %}
					<hr></hr>
				{% endif %}
			</li>
	{% endfor %}
	</ul>
</div>
{% else %}
	<p> No posts available at this time</p>
{% endif %}

{% include 'bottom_navbar.html' %}
</body>


</html>


